.button {
    -fx-background-color: #B52626;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-background-radius: 10px;
}

.button:hover{
    -fx-background-color: #470F0F;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#title {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

#subtitle {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-style: italic;
}

#sortBy {
    -fx-font-weight: normal;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-style: italic;
    -fx-pref-height: 38px;
}

#root {
    -fx-background-color: #0F0F0F;
}

.combo-box {
    -fx-font-size: 20px;
    -fx-font-style: italic;
    -fx-background-color: #0F0F0F;
    -fx-pref-width: 230px;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #0F0F0F;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.text-field {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-background-color: #0F0F0F;
}

.text-field:focused {
    -fx-border-color: #B52626;
}